[Bb]in/
[Oo]bj/
[Pp]ackages/
Z.Expressions.Eval.NET40/
Z.Lab/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
*.pfx
/src/Z.EntityFramework.Plus.EF6/Z.EntityFramework.Plus.EF6.1.0.0.nupkg
/src/Z.EntityFramework.Plus.EF6/Revised.EF6.PLUS.1.1.1.nupkg
/src/Z.EntityFramework.Plus.EF6/Revised.EF6.PLUS.1.1.0.nupkg
/src/Z.EntityFramework.Plus.EF6/Revised.EF6.PLUS.1.0.0.nupkg
/src/Z.EntityFramework.Plus.EF6/nuget.exe
/src/Z.EntityFramework.Plus.EF6/c57640f2-b861-4551-b470-539dc3093d1c.1.0.0.nupkg
/src/Z.EntityFramework.Plus.EF6/Revised.EF6.PLUS.1.2.0.nupkg
/src/Z.EntityFramework.Plus.EF6/Revised.EF6.PLUS.1.1.2.nupkg
